{% extends "base.html" %}
{% block title %} login page {% endblock %}

{% block content %}
<form action="{{ url_for('auth.login') }}" method="post">
  {{ form.csrf_token }}

  <div class="mb-3">
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control", placeholder="Enter Email") }}
    {% if form.email.errors %}
        <div class="text-danger">
            {{ form.email.errors[0] }}
        </div>
    {% endif %}

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control", placeholder="Enter Password") }}
      {% if form.password.errors %}
          <div class="text-danger">
              {{ form.password.errors[0] }}
          </div>
      {% endif %}
<br>
      <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
    </div>
 
  </form>

{% endblock %} 
