{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; ">
    <img class="profile-image" src="{{ url_for('static', filename='images/' + current_user.profile_image) }}" alt="Profile Image"
        >

    <div>
        <h1 style="color: black; margin: 5px 0;">Username: 
            <span style="color: grey; font-weight: normal;">{{ user.username }}</span>
        </h1>
        <h1 style="color: black; margin: 5px 0;">Email: 
            <span style="color: grey; font-weight: normal;">{{ user.email }}</span>
        </h1>
        <h1 style="color: black; margin: 5px 0;">About: 
            <span style="color: grey; font-weight: normal;">{{ user.about }}</span>
        </h1>
    </div>
</div>






    <h1 style="color: cadetblue;"> POSTS;</h1>

    <form action="{{ url_for('views.subscribe', user_id=user.id) }}" method="POST">
        <label for="email" style="font-size: 18px;">Subscribe to {{ user.fullname }}'s content:</label><br>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <button type="submit" class="btn btn-outline-primary btn-sm">Subscribe</button>
    </form>
    <br>
    <p><a href="{{ url_for('views.all_posts') }}" style="margin-left: 100px;" class="btn btn-secondary">Back</a></p>
    
    
    {% for post in posts %}
    <div class="post">
        <h2 style="color:black;"  >{{post.heading}}</h2>
        <div class="card bord">  
            {{ post.content[:5] }}{% if post.content|length > 5 %}...{% endif %}
            <span id="full-content-{{ post.id }}" style="display: none;">
                {{ post.content[5:] }}
            </span>
            <h3 style="color:grey;">Author: {{ post.users.fullname }} - {{ post.date_posted }}</h3>
        </div>
        
        <!-- Read More Button -->
        {% if post.content|length > 5 %}
        <button type="button" onclick="showMore({{ post.id }})" id="read-more-{{ post.id }}">Read More</button>
        <button type="button" onclick="showLess({{ post.id }})" id="show-less-{{ post.id }}" style="display: none;">Show Less</button>
        {% endif %}
        <hr>
    </div>
    {% else %}
    <p>No posts to show.</p>
    {% endfor %}
</div>

<!-- JavaScript to Show More/Show Less -->
<script>
function showMore(postId) {
    document.getElementById('full-content-' + postId).style.display = 'inline';
    document.getElementById('read-more-' + postId).style.display = 'none';
    document.getElementById('show-less-' + postId).style.display = 'inline';
}

function showLess(postId) {
    document.getElementById('full-content-' + postId).style.display = 'none';
    document.getElementById('read-more-' + postId).style.display = 'inline';
    document.getElementById('show-less-' + postId).style.display = 'none';
}
</script>
    </div>
</div>




{% endblock %}