{% extends "base.html" %}
{% block title %} login page {% endblock %}

{% block content %}
<form action="{{ url_for('auth.reset_password',token=token) }}" method="post">
  {{ form.csrf_token }}

    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control", placeholder="Enter Password") }}
      {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
      {% if form.password.errors %}
          <div class="text-danger">
              {{ form.password.errors[0] }}
          </div>
      {% endif %}
<br>
      <div class="text-center">
        {{ form.submit(class="btn btn-primary") }}
    </div>
 
  </form>

{% endblock %} 
